{
  "bot_token": "<secret>",
  "twitter_token": "",
  "twitter_api_version": 2,
  "imgur_client_id": "",
  "instagram_session": "",
  "owner_id": "<insert_owner_id>",
  "admin_ids": [],
  "manager_ids": [],
  "ack_emoji_id": null
}